# This is Jeopardy!

### Project goals
This project contained a series of open-ended requirements, work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers, filter the dataset for topics of interest and compute the average difficulty of those questions, to train to become the next Jeopardy champion!

As this is a learning, I've left in my 'thinking aloud' comments.
### Skills involved
* pandas for data analysis
* basic data cleaning

## Project tasks

1. Provided is a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   This data isn't "clean". More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, this line of code was given:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [2]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

jeop = pd.read_csv('jeopardy.csv')

In [3]:
print(jeop.head())

   Show Number    Air Date      Round                         Category  Value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY   $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES   $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...   $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE   $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES   $200

                                                                                                      Question  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       Answer
0  Copernicus
1  Jim Thorpe
2     Arizona
3  McDonald's
4  John Adams

In [4]:
print('Number of entries: ' , len(jeop))
print('Shape: ')
print(jeop.shape) # shape: (rows, columns)
print("Columns: ")
print(jeop.columns) # this is an ATTRIBUTE, NOT a method - hence no ()

Number of entries:  216930
Shape:
(216930, 7)
Columns:
Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [5]:
# Noted that the column names have leading spaces. 
# Removed leading spaces to avoid later issues
## NOTES TO REVIEW: 1. Do these actions edit the original file if this were off codecademy?
## 2. Can I create a code that checks for space and removes/repalces with _ to use as a standard practice?
jeop = jeop.rename(columns={"Show Number": "show_number", " Air Date": "air_date", " Round": "round", " Category": "category", " Value": "value", " Question": "question", " Answer": "answer"})
print(jeop.columns)

Index(['show_number', 'air_date', 'round', 'category', 'value', 'question',
       'answer'],
      dtype='object')

In [6]:
show_nums = jeop.show_number.nunique()
#print(show_nums)
#print(jeop.show_number.unique())

print(jeop.air_date.describe(include='all'))

count         216930
unique          3640
top       1997-05-19
freq              62
Name: air_date, dtype: object

In [7]:
print(jeop.dtypes)

show_number     int64
air_date       object
round          object
category       object
value          object
question       object
answer         object
dtype: object

Aside from show_number, all types are objects. 
* Air date may be better as something else
* Round: check for unique values, but probably best as string
* Category: object or string
* Value: Remove '$' and convert to int or float
* Question & answer: liklely best strings

Aware of the types, see if type issues arise and need to convert

In [ ]:
print(jeop['round'].unique())

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

My final function was taken from the given solutions. I originally tried to find a solution by:
Filtering the 'question' column for words in the word list, but didn't manage. I would then have created a column for True (contains both words) and then grouped by, printing the rows relevant. 

I took this opportunity to improve my knowledge of lambda functions. They work best when use annoymously inside another function. 

lambda _arguments : expression_

In [9]:
#def word_search(df, word_list):
    #df['filtered_qs'] = df['Question'].contains(word_list)

    #df.
    #df['filtered_qs'].groupby(True)

In [ ]:
# Filtering a dataset by a list of words
def filter_data(data, words):
  # Returns true if all of the words in the list appear in the question.
  filter = lambda x: all(word in x for word in words)
  # Applies the lambda function to the question column and returns the rows where the function returned True
  return data.loc[data["question"].apply(filter)]

# Testing the filter function
filtered = filter_data(jeop, ["King", "England"])
print(filtered["question"])

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [11]:
def filter_data(data, words):
  # Returns true if all of the words in the list appear in the question.
  filter = lambda x: all(word.lower() in x.lower() for word in words)
  # filter = lambda x: all(words.lower() in x.lower()) #cannot apply .lower() to a whole list
  
  # Applies the lambda function to the question column and returns the rows where the function returned True
  return data.loc[data["question"].apply(filter)]

# Testing the filter function
filtered = filter_data(jeop, ["King", "England"])
print(filtered["question"])

4953                    Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
6337      In retaliation for Viking raids, this "Unready" king of England attacks Norse areas of the Isle of Man
9191                    This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt
11710               This Scotsman, the first Stuart king of England, was called "The Wisest Fool in Christendom"
13454                                       It's the number that followed the last king of England named William
                                                           ...
208295        In 1066 this great-great grandson of Rollo made what some call the last Viking invasion of England
208742                      Dutch-born king who ruled England jointly with Mary II & is a tasty New Zealand fish
213870                In 1781 William Herschel discovered Uranus & initially named it after this king of England
216021          His nickname was "Bertie", but he used this name & number when he became king of England in 1901
216789        This kingdom of England grew from 2 settlements, one founded around 495 by Cerdic & his son Cynric
Name: question, Length: 152, dtype: object

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

Again, I checked the solution code for this. I tried to use .strip() (below) to remove the \$ but it wouldn't work. I think my type knowledge needs expanding.\
_Solution_: 
* Adding a new column.
* If the value of the float column is not "None", then we SLICE off the first character (the '$'), and replace all commas with nothing, and then cast that value to a float. 
* If the answer was "None", then we just enter a 0.

In [ ]:

jeop["Float Value"] = jeop["value"].apply(lambda x: float(x[1:].replace(',','')) if x != "None" else 0)

# Filtering the dataset and finding the average value of those questions
filtered = filter_data(jeop, ["King"])
print(filtered["Float Value"].mean())

My start of an attempt:

In [ ]:
#jeop['value_float'] = jeop['value'].strip(['$'])
#print(jeop.head())

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [27]:
# A function to find the unique answers of a set of data
def get_answer_counts(data):
    return data["answer"].value_counts()

# Testing the answer count function
# Combined with the filtered data above
print(get_answer_counts(filtered))

Henry VIII                   55
Solomon                      35
Richard III                  33
Louis XIV                    31
David                        30
                             ..
cardiac (in card I acted)     1
Henderson                     1
Computer                      1
Indians                       1
work                          1
Name: answer, Length: 5268, dtype: int64

Further ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.